.intro-message{
	text-align: center;
	padding-top: 20%;
	padding-bottom: 5%;
	color: #fff;
}

body {
	background: url(unsplash.jpg) no-repeat center;
}
.Airplane.png{
	text-align: center; 
	padding-top: 5%;
	padding-bottom: 5%;
	color: #fff;
} 