.intro-message{
	text-align: right;
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
}

body {
	background: url(unsplash.jpg) no-repeat center;
}
.Airplane.png{
	text-align: center; 
	padding-top: 20%;
	padding-bottom: 10%;
	color: #fff;
} 